/* @import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;300;400;500;600;700;800;900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Albert Sans", sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: #1a1a1a;
  background: #fafafa;
}
@font-face {
  font-family: "axiformaregular";
  src: url(../public/axiforma_regular.woff);
}

@font-face {
  font-family: "segoe_uiregular";
  src: url(../public/segoe_ui_regular.woff);
}

@font-face {
  font-family: "segoe_uisemibold";
  src: url(../public/segoe_ui_semibold.woff);
}

h1,
p {
  font-family: "axiformaregular";
}

h2 {
  font-family: "segoe_uiregular";
}
h3 {
  font-family: "segoe_uisemibold";
}

.input:focus {
  outline: none;
}
.active {
  background: #fcee26;
}
